<app-navbar></app-navbar>
<body>
    <h2 class="heading">ABOUT US</h2>
    <img src="../../assets/Images/sofa.jpg" alt="img" width="50%" class="center">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ratione beatae cupiditate illo eligendi necessitatibus obcaecati neque, eaque, commodi eos ipsam, qui corporis quia molestias dolorum minima? Dolorem impedit obcaecati necessitatibus temporibus illo cum tempora quas, magni delectus, cumque quasi corrupti tenetur porro repellendus doloribus dolorum nulla incidunt blanditiis. Soluta amet in quaerat neque, vero delectus, consequatur iusto cumque, eveniet eligendi possimus doloremque sint at illum perferendis! Similique ad expedita quis dolor quae fugit atque provident aperiam ipsa, eveniet deleniti possimus numquam fuga amet modi odit quos ducimus illum animi incidunt quam officia. Vero ab quod eos dolor illo voluptate?
    </p>
</body>
<app-footer></app-footer>